###############################################################################
# Set default behavior to automatically normalize line endings
###############################################################################
* text=auto eol=lf

###############################################################################
# Locked dependencies
###############################################################################
poetry.lock binary
pdm.lock binary
